body {
    width: 1600px;
    height: 900px;
    background: linear-gradient(to bottom, #075E54, #128C7E);
}

header div {
    display: inline;
}

header button {
    border-radius: 50px;
    padding: 10px;
    width: 138px;
    height: 44px;
    border: none;
}

header .cadastre-se {
    font-size: 16px;
    margin-left: 1194px;
    background-color: #ECE5DD;
}

header .planos {
    background-color: #25D366;
}

.robotMini{
    width: 52px;
    height: 51px;
}

.loginContainer {
    margin-left: 88px;
    width: 444px;
    height: 468px;
    margin-left: 88px;
    border-radius: 10px;
    opacity: 30%;
    background-color: black;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-top: 190px;
}

input {
    width: 347px;
    height: 61px;
    border-radius: 50px;
    text-align: center;
}


.logoLado {
    margin-top: -500px;
    text-align: right;
}

img .logo {
    margin-left: 976px;
    width: 436px;
    height: 436px;
}